<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/team_common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/team_filters.css">
    <link rel="icon" href="../static/images/small_logo.png" />
    <title>Sigma</title>
  </head>
  <body>
    <header>
      <div class="logo">
      <a href="index.html"><img src="../static/images/small_logo_header.png"></a>
      <a href="index.html"><img src="../static/images/just_sigma2.png"></a>
      </div>
    </header>
    <div class="all">
      <div class="teammate">
        <img src="../static/images/facundo.jpg">
        <h2>Facundo Díaz</h2>
        <a href="https://github.com/facu2279"><img src="../static/images/github_logo.png"></a>
        <a href="mailto:ddiiaazzfacu@gmail.com"><img src="../static/images/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/facundo-diaz-noya/"><img src="../static/images/linkedin_logo.png"></a>
      </div>
      <div class="teammate">
        <img src="../static/images/tadeo.jpg">
        <h2>Tadeo Grach</h2>
        <a href="https://github.com/tadeograch"><img src=../static/images/"github_logo.png"></a>
        <a href="mailto:tade.g.17@gmail.com"><img src="../static/images/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/tadeo-grach-toledo/"><img src="../static/images/linkedin_logo.png"></a>
      </div>
      <div class="teammate">
        <img src="../static/images/tomas.jpg">
        <h2>Tomas de Castro</h2>
        <a href="https://github.com/tomi1710"><img src="../static/images/github_logo.png"></a>
        <a href="mailto:tdecastroguelfi56@gmail.com"><img src="../static/images/gmail_logo.png"></a>
        <a href="https://www.linkedin.com/in/tomas-de-castro-guelfi-1872a1211/"><img src="../static/images/linkedin_logo.png"></a>
      </div>
   </div>
    <footer>
      <p></p>
    </footer>
  </body>
</html>
