h1 {
    text-align: left;
    font-size: 30px;
}
.btc article{
    margin-left:15%;
    width: 690px;
    height: 500px;
    margin: 10%;
    border: #39E991 solid 3px;
    border-radius: 4px;
    text-align: center;

    flex-direction: column;
}
article h2 {
    font-size: 30px;
    color: black;
}
